body {
	margin: 0px;
}

#thermal-root {
	position: fixed;
	width: 100%;
	height: 100%;
}

/* Stylowanie właściwe */

#thermal-root {
	--outputColor: lime;
	--systemInfoColor: snow;
	--bgColor: #16161a;
	--warnColor: orange;
	--errorColor: red;
	--systemColor: #00c3ff; /* Between cyan and blue */
}

.thermal {
	background-color: var(--bgColor);
	color: var(--outputColor);
	font-family: Consolas, monospace;
	padding: 0.5em;
	overflow: scroll;
	width: 100%;
	height: 100%;
}

.thermal pre.output {
	font-size: 105%;
	font-family: Consolas, monospace;
}

.cl {
	background-color: var(--bgColor); /* It is for „filter: invert” property. */
}

.cl.out {
	color: var(--outputColor);
}
.cl.sysinfo {
	color: var(--systemInfoColor);
}
.cl.sys {
	color: var(--systemColor);
}
.cl.warn {
	color: var(--warnColor);
}
.cl.error {
	color: var(--errorColor);
}
